node_modules/
build/
android/.gradle/
android/.kotlin/
android/.cxx/
android/build/
android/app/build/
android/app/.cxx/
android/local.properties
ios/Pods/
ios/build/
*.xcuserstate
xcuserdata/
*.tsbuildinfo
.env*
*.p12
*.mobileprovision
.DS_Store
